/* set image to correct size */
img {
    height: 625px;
    width: 390px;
}
/* sets google maps image to desired size */
iframe {
    height: 350px;
    width: 400 px;
}

/* centers everything in the middle of the screen */
header {
    height: fit-content;
    color: whitesmoke;
    font-family: magneto;
    background-color: black;
    background-image: url(images/backgrounds/space-earth.jpg);
    font-size: 34px;
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: 3;
}
        /* this part makes the background image take up the whole screen instead of repeating */
body {
    background-image: url(images/backgrounds/ethereal-background.jpg);
    font-family: "high tower text";
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: whitesmoke;
    background-image: url(images/backgrounds/space-earth.jpg);
    height: fit-content;
    margin: 0;
    padding: 40px;
    background-color: black;
}

h2 {
    margin: 0;
    font-size: 42px;
    text-align: center;
}

img, iframe {
    width: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 800px;
}

p {
    font-size: 20px;
    text-align: center;
    width: 600px;
    margin-left: 650px;
}

ul {
    margin-left: 720px;
}
 
section, li {
    text-align: left;
    margin-left: 650;
    
}

ol {
    margin-left: 735px;
}

/* sizes the hr and design */

hr {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 6px solid black;
    height: 8px;
    background-color: rgb(224, 47, 47);
    width: 420px;
    }
/* stylizes the links on the page */

a {
    font-family: "high tower text";
    font-size: 24px;
}

a:link    { color: rgb(39, 218, 23);  }
a:visited { color: red;   }
a:hover   { color: rgb(6, 10, 245); }
a:active  { color: rgb(255, 111, 255);  }

a.current:link    { color: blue;  }
a.current:visited { color: red;   }
a.current:hover   { color: green; }
a.current:active  { color: rgb(255, 111, 255);  }

